{
  "extends": ["plugin:prettier/recommended", "react-app", "airbnb-typescript"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "warn",
    "react/prop-types": "off",
    "linebreak-style": ["error", "windows"],
    "react/jsx-one-expression-per-line": "off",
    "react/no-array-index-key": "off",
    "operator-linebreak": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "no-plusplus": "off",
    "function-paren-newline": "off"
  }
}
