{
  "extends": ["react-app", "airbnb-typescript"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off",
    "linebreak-style": ["error", "windows"],
    "react/jsx-one-expression-per-line": "off",
    "react/no-array-index-key": "off"
  }
}