@font-face {
    font-family: "LeZhen";
    src: url("./font.eot"); /* IE9 */
    src: local("font"), url("./font.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./font.woff") format("woff"), /* chrome, firefox */
    url("./font.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("./font.svg#font") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


